@import "../../scss/colors";
.login_nav{
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav{
  display: flex;
  list-style: none;
  cursor: pointer;
}
.login-item{
  margin-left: 2rem;
}
.login-item a{
  text-decoration: none;
  color: $colorGrey;
  padding: 1rem;
  display: inline-block;
}
.register{
  border: 1px solid $colorYellow;
}

.nav_link{
  margin-left: 2rem;
}
.nav_link a{
  text-decoration: none;
  color: $colorDarkGrey;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.start{
  border: 1px solid $colorDarkGrey;
}