@import "../../../scss/colors";
.help_des{
  text-align: center;
  max-width: 670px;
  margin-bottom: 4rem;
  font-size: 22px;
  color: $colorDarkGrey;
}

.foundation{
  &_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1334px;
    border-bottom: 1px solid $colorDarkGrey;
    text-align: left;
    padding: 2rem 0;
  }
  &_name{
    font-size: 26px;
    font-family: merriweather-light, sans-serif;
    color: $colorDarkGrey;
  }
  &_mission, &_foundation_needs{
    font-size: 18px;
    font-family: merriweather-light, sans-serif;
    color: $colorDarkGrey;
  }
  &_needs{
    display: flex;
    align-self: center;
  }
}

.single_number{
  background-color: transparent;
  padding: 1rem;
  margin: 1rem;
  //border: 1px solid $colorDarkGrey;
  border: none;
  cursor: pointer;
}