@import "../../scss/colors";
.login{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_form{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color:$colorWhite ;
    padding: 1rem 5rem 2rem 5rem;
  }
  &_decoration{
    margin-bottom: 2rem;
  }
  &_h2{
    margin-bottom: 1rem;
    color: $colorDarkGrey;
  }
  &_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $colorDarkGrey;
    padding-top: 5px;
    padding-bottom: 5px;
    &:focus{
      outline: none;
    }
  }
  &_buttons{
    margin-top: 1rem;
    margin-inline: 13rem;
    color: $colorDarkGrey;
    text-decoration: none;
  }
  &_button{
    border: 1px solid $colorDarkGrey;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

.form{
  &_label{
    font-family: "Open Sans semibold", sans-serif;
    color: $colorDarkGrey;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  &_login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.register_buttons{
  margin-top: 2rem;
}
.input_error {
  border-bottom: 2px solid red;
}
.succed{
  color: green;
  margin-bottom: 1rem;
}